<html>

<body>
	<ng-container *ngIf="userlist">
		<div class="container-fluid h-50" id="mobileview">
			<div class="col-md-4 col-xl-3 chat ">
				<div class="row">
					<div class="card-header card_head" style="border: 1px solid #ddd;"> <img src="assets/prof.png" class="rounded-circle home_icon_img "><span class="home_online_icon"></span> <span class="glyphicon glyphicon-menu-down"></span>
						<div class="input-group"></div>
					</div>
					<div class="card mb-sm-3 mb-md-0 contacts_card div_wrap">
						<div class="card-body contacts_body">
							<div class="input-group search-input"> <i class="fas fa-search icon"></i>
								<input type="text" placeholder="search message" [(ngModel)]="searchToken" name="searchToken" class="form-control search"> </div>
							<ul class="contacts">
								<li class="active" id="sidebar-user-box" [attr.data-id]="user.id" class="100" *ngFor="let user of users | search: searchToken">
									<div class="d-flex bd-highlight">
										<div class="img_cont"><img src="assets/prof.png" class="rounded-circle user_img "><span class="online_icon"></span></div>
										<div class="user_info" style="display: inline-block"><span>{{ user.firstName}}</span></div>
									</div>
								</li>
							</ul>
						</div>
						<div class="card-footer"></div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
	<div id="chat"></div>
</body>
</html>